@font-face {
    font-family: "YesevaOne";
    src: url("../fonts/YesevaOne-Regular.ttf");
}

@font-face {
    font-family: "GentiumBasic";
    src: url("../fonts/GenBasB.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
}

html, body {
    background-color: rgb(40, 40, 40);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "YesevaOne";
    font-size: 90px;
    font-weight: 400;
    line-height: 1.32;
}

h3 {
    font-family: "YesevaOne";
    font-size: 36px;
    font-weight: 400;
}

h4 {
    font-family: "YesevaOne";
    font-size: 21px;
    font-weight: 400;
}

p {
    font-family: "Lato";
    font-size: 16px;
    line-height: 1.5;
}

header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .59) 0%,
                                                 rgba(0, 0, 0, .23) 54%,
                                                 rgba(0, 0, 0, .09) 77%,
                                                 rgba(0, 0, 0, 0) 100%);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 1600px;
    height: 159px;
    z-index: 1;
}

.logo {
    position: absolute;
    left: 178px;
    top: 40px;

    font-family: "YesevaOne";
    font-size: 36px;
    text-transform: uppercase;
    background: url("../images/logo-mask.png");
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

nav {
    position: absolute;
    left: 552px;
}

nav a {
    display: inline-block;
    border: 0 rgba(255, 255, 255, .71) solid;
    min-width: 68px;
    padding: 49px 6px 0;
    margin: 0 10px;

    font-family: "GentiumBasic";
    font-size: 21px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
}

nav .active {
    border-width: 3px 0 0;
    padding-top: 46px;
}

nav a:hover {
    border-width: 3px 0 0;
    padding-top: 46px;
}

header .social {
    position: absolute;
    left: 1298px;
}

header .social a {
    display: inline-block;
    padding: 49px 6px 0;
    font-size: 21px;
    color: rgb(218, 179, 62);
    text-align: center;
}

main {
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 1600px;
    min-height: calc(100% - 320px);
}

.promo {
    position: relative;
    background-image: url("../images/promo-bg.png");
    width: 100%;
    height: 750px;
}

.promo .text {
    position: absolute;
    top: 139px;
    left: 320px;
    width: 960px;
    text-align: center;
    color: rgba(255, 255, 255, 0.922);
    text-shadow: 1px 1px 1px rgb(1, 1, 1);
}

.promo .text:after {
    content: url("../images/promo-divider.png");
    position: absolute;
    top: 335px;
    left: 367px;
}

.promo .buttons {
    position: absolute;
    top: 551px;
    left: 542px;
    width: 520px;
    font-family: "Lato";
}

.promo .buttons .black {
    background-color: rgba(0, 0, 0, .57);
    border: 1px rgba(0, 0, 0, .8) solid;
    width: 228px;
    height: 57px;
    margin: 0 14px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    
}

.promo .buttons .white {
    background-color: rgba(255, 255, 255, .2);
    border: 1px rgba(255, 255, 255, .7) solid;
    width: 228px;
    height: 57px;
    margin: 0 14px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
}

.about {
    position: relative;
    background-image: linear-gradient(133deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, .09)), 
                      url("../images/about-pattern-bg.png");
    box-shadow: inset 0px 0px 50px 0px rgba(1, 1, 1, 0.14);
    width: 100%;
    height: 710px;
}

.about .cook {
    position: absolute;
    top: 61px;
    left: 295px;
    width: 408px;
    text-align: center;
}

.cook h3 {
    color: rgb(204, 153, 0);
    line-height: 1.3;
}

.cook h3:after {
    content: url("../images/gold-divider.png");
}

.cook p {
    position: relative;
    top: -20px;
}

.cook img {
    position: relative;
    left: 35px;
    top: 13px;  
}

.about .dish {
    position: absolute;
    top: 54px;
    left: 739px;
}

.ingredients {
    position: relative;
    background-image: url("../images/ingredients-bg.png");
    width: 100%;
    height: 760px;
}

.ingredients .content {
    position: absolute;
    top: 100px;
    left: 815px;
    height: 557px;
    width: 570px;
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
}

.ingredients .content h3 {
    position: relative;
    top: 34px;
    left: 5px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
}

.ingredients .content h3:after {
    position: relative;
    top: -6px;
    left: -5px;
    content: url("../images/white-divider.png");
}

.ingredients .content p {
    position: relative;
    top: 1px;
    margin: 0 auto;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 420px;
}

.ingredients .content .wheat {
    position: absolute;
    top: 369px;
    left: 90px;
    height: 100px;
    width: 100px;
    border: 5px rgba(255, 255, 255, .09) solid;
    border-radius: 50%;
    overflow: hidden;
}

.ingredients .content .spice {
    position: absolute;
    top: 369px;
    left: 230px;
    height: 100px;
    width: 100px;
    border: 5px rgba(255, 255, 255, .09) solid;
    border-radius: 50%;
    overflow: hidden;
}

.ingredients .content .bread {
    position: absolute;
    top: 369px;
    left: 370px;
    height: 100px;
    width: 100px;
    border: 5px rgba(255, 255, 255, .09) solid;
    border-radius: 50%;
    overflow: hidden;
}

.ingredients .content .wheat img {
    position: absolute;
    top: -31px;
    left: -45px;
}

.ingredients .content .spice img {
    position: absolute;
    top: -89px;
    left: -42px;
}

.ingredients .content .bread img {
    position: absolute;
    top: -16px;
    left: -43px;
}

section.menu {
    background-image: linear-gradient(-44deg, rgba(255, 255, 255, 0), rgba(32, 90, 91, .09)), 
                      url("../images/menu-pattern-bg.png");
    box-shadow: inset 0px 0px 50px 0px rgba(1, 1, 1, .14);
    width: 100%;
    height: 1000px;
}

.reviews {
    position: relative;
    background-image: url("../images/reviews-bg.png");
    background-position-y: -264px;
    width: 100%;
    height: 750px;
}

.reviews .content {
    position: absolute;
    top: 100px;
    left: 415px;
    height: 557px;
    width: 770px;
    background-image: url("../images/reviews-content-bg.png");
    text-align: center;
}

.reviews .content h3 {
    position: relative;
    top: 34px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
}

.reviews .content h3:after {
    position: relative;
    top: -6px;
    left: 1px;
    content: url("../images/white-divider.png");
}

.reviews .content .quotation-mark {
    position: absolute;
    top: 43px;
    left: 28px;
    font-family: "Georgia";
    color: rgba(255, 255, 255, .47);
    font-size: 90px;
}

.reviews .content .qoute-text {
    position: absolute;
    top: 151px;
    left: 70px;
    width: 630px;
    font-family: "GentiumBasic";
    color: rgb(221, 224, 223);
    font-size: 25px;
    line-height: 1.8;
    word-spacing: 1px;
}

.reviews .content .quote-author {
    position: absolute;
    top: 413px;
    left: 307px;
    color: rgb(221, 224, 223);
    font-size: 18px;
}

section.reservations {
    background-image: linear-gradient(163deg, rgba(255, 255, 255, 0), rgba(12, 52, 53, .07)), 
                      url("../images/reservations-pattern-bg.png");
    box-shadow: inset 0px 0px 50px 0px rgba(1, 1, 1, 0.05);
    width: 100%;
    height: 1000px;
}

footer {
    position: relative;
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    margin: auto;
    width: 1600px;
    height: 320px;
    text-align: center;
}

footer .about-us {
    position: absolute;
    top: 29px;
    left: 210px;
    height: 200px;
    width: 380px;
}

footer .about-us h4:after {
    position: relative;
    top: 16px;
    left: -1px;
    content: url("../images/footer-divider.png");
}

footer .hours {
    position: absolute;
    top: 29px;
    left: 691px;
    height: 200px;
    width: 220px;
}

footer .hours h4:after {
    position: relative;
    top: 16px;
    left: -1px;
    content: url("../images/footer-divider.png");
}

footer p {
    position: relative;
    top: 1px;
    font-family: "OpenSans";
    font-size: 16px;
}

footer .location p {
    letter-spacing: .5px;
}

footer .location {
    position: absolute;
    top: 29px;
    left: 1091px;
    height: 200px;
    width: 220px;
}

footer .location h4:after {
    position: relative;
    top: 16px;
    left: -1px;
    content: url("../images/footer-divider.png");
}

footer .payment a {
    position: relative;
    top: 35px;
    left: 3px;
    color: rgb(255, 255, 255);
    padding: 0px 4px;
}

footer .social a {
    position: relative;
    top: 35px;
    left: 4px;
    color: rgb(255, 255, 255);
    padding: 0px 4px;
}